<ActionBar title="Voteshot" android.icon="res://icon" android.iconVisibility="always" class="action-bar">
    <ActionItem ios.systemIcon="2" android.systemIcon="ic_menu_preferences" ios.position="right" (tap)="goToSettings()"></ActionItem>
</ActionBar>
<ScrollView sdkExampleTitle sdkToggleNavButton class="m-t-20">
    <WrapLayout orientation="horizontal" height="auto" width="300">
        <ns-deck-details width="98" height="98" [cards]="cards" (onCardTap)="onItemTap($event)" width="98" height="98"></ns-deck-details>
    </WrapLayout>
</ScrollView>