<ActionBar title="qGroom" android.icon="res://icon" android.iconVisibility="always" class="action-bar">
    <ActionItem ios.systemIcon="2" android.systemIcon="ic_menu_preferences" ios.position="right" (tap)="goToSettings()"></ActionItem>
</ActionBar>
<ScrollView sdkExampleTitle sdkToggleNavButton>
    <WrapLayout orientation="horizontal" height="auto" width="300">
        <StackLayout class="bordered" width="90" height="90" *ngFor="let card of cards">
            <Button (tap)="onItemTap(card.id)" width="90" height="90" *ngIf="card.useWebFont" [text]="card.icon | fonticon" class="btn btn-primary fa text-center vertical-center"></Button>
            <Button (tap)="onItemTap(card.id)" width="90" height="90" *ngIf="!card.useWebFont && !card.unicode" text="{{card.value}}" class="btn btn-primary fa text-center vertical-center"></Button>
            <Button (tap)="onItemTap(card.id)" width="90" height="90" *ngIf="!card.useWebFont && card.unicode" text="{{card.unicode}}" class="btn btn-primary fa text-center vertical-center"></Button>
        </StackLayout>
    </WrapLayout>
</ScrollView>